@model app_for_xml.Models.FileViewModel.FileList
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Список файлов</h2>

@section scripts
{
    <script type="text/javascript">
        $("#upload-btn").on("click",
            function () {
                $("#file-upload").click();
            });

        $("#file-upload").change(function () {
            $("#upload-form").submit();
        });
    </script>
}

<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <a href="@Url.Action("Create", "File")" class="btn btn-lg btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Новый файл</a>
            <a href="#" class="btn btn-lg btn-info" id="upload-btn"><i class="fa fa-download" aria-hidden="true"></i> Загрузить из файла</a>
        </div>
        @using (Html.BeginForm("UploadXml", "File", FormMethod.Post, new { id = "upload-form", enctype = "multipart/form-data", @class = "hidden" }))
        {
            <input type="file" name="upload" id="file-upload" accept="application/xml" /><br>
            <input type="submit" value="Загрузить" />
        }

        @if (TempData["success"] != null)
        {
            <div class="alert alert-success">
                <p>@TempData["success"].ToString()</p>
            </div>
        }
        @if (TempData["errors"] != null)
        {
            <div class="alert alert-danger">
                <p>@TempData["errors"].ToString()</p>
            </div>
        }
        <table class="table table-condensed table-hover table-responsive table-striped" id="demands">
            <colgroup>
                <col class="width-30" />
                <col />
                <col class="width-50" />
            </colgroup>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Имя файла</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Files.Any())
                {
                    var i = 1;
                    foreach (var file in Model.Files)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@file.FileName</td>
                            <td>
                                <a href="@Url.Action("Edit", "File", new {id = file.Id, version = 0})" title="Редактировать"><i class="fa fa-pencil-alt fa-lg"></i></a>
                                <a href="@Url.Action("Delete", "File", new {id = file.Id })" title="Удалить" style="color: red"><i class="fa fa-times fa-lg"></i></a>
                            </td>
                        </tr>
                        i++;
                    }
                }
                else
                {
                    <tr><td colspan="3" style="text-align: center">Файлы отсутствуют</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>



